version: '2'
services:
  app:
    build: .
    command: php artisan serve  --host=0.0.0.0 --port=8000
    volumes:
      - .:/app
    links:
      - database
    ports:
      - "8000:8000"
    depends_on:
      - database
  database:
    image: postgres
    restart: always
  pgadmin:
    image: fenglc/pgadmin4
    links:
      - database
    ports:
      - "5050:5050"
